#background {
	background-image: url("bg.jpg");
	background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center center;
    background-size: auto auto;
}
#image {
	margin-left: 415px;
	margin-top: 5px;
	position:absolute;
}
#paradise {
	margin-top: 25px;
	position: relative;
	margin-left: 205px;

}
.trans img {
	opacity: 0.4;
}
.trans img:hover{
   opacity: 1.0;
}
.cat {
	margin-left: 410px;
    margin-top: -140px;
}
.head {
	margin-left: 415px;
	margin-top: -120px;
}
.about {
	background-color: purple;
	border: 5px;
	border-radius: 5px;
	border-color: purple;
	width: 90px;
	margin-left:-80px; 
	margin-top: -680px;
}

.list li {
	color:#480E44; 
}
.contact {
	background-color: #680000 ;
	border: 5px;
	border-radius: 5px;
	border-color: #680000 ; 
	width: 50px;
    margin-left: -40px;
}

#hover1 {
	text-decoration: none;
	width: 10px;
}
#hover1 div:hover {
	background-color: #9900FF;
	border-radius: 5px;
}
#hover2 {
	text-decoration: none;
}
#hover2 div:hover {
	background-color: #FF0000;
	border-radius: 5px;
}